*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #efeded;
}


.container{
    border: 1px solid #d6cece;
    width: 300px;
    height: 67vh;
    margin: 40px auto;
    border-radius: 6px;
    box-shadow: 2px 6px 4px rgba(0,0,0, 0.3);

}

.calculator{
background-color: white;  
width: 95%;  
height: 95%;
margin: 8px auto;
border-radius: 6px;
}

form .display input{
    margin: .6rem .6rem .1rem;
    width: 92%;
    height: 35px;
    outline: 0;
    border: 1px solid #eae5e5;
    border-radius: 5px;
    text-align: right;
    padding: 9px;
   
}

form .calc{
    display: flex;

}
form .calc__buttons-left input{ 
    display: flex;
    margin: 10px auto;
    width: 61px;
    height: 40px;
    border: 0;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 2px;
    cursor: pointer;
}

form  input:hover{ 
    background-color: rgb(67, 104, 239);
    border: 0;
}


form .calc__buttons-left .equal{
    height: 180px;
    box-shadow: 2px 6px 4px rgba(0,0,0, 0.3);
    
}

form .calc__buttons-left .equal:active{
    background-color: rgba(67, 104, 239, 0.9);
    
}

form .calc__buttons-left .dark__button{
    background-color: #e0dddd;
    box-shadow: 2px 6px 4px rgba(0,0,0, 0.3);
}

form .calc__buttons-left .dark__button:active{
    background-color: rgb(224, 221, 221, 0.8);
}




form .calc__buttons{
    margin: .6rem;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 6px;
}
form .calc__button input{
   width: 62px;
   height: 40px;
   margin: 1px 0;

   border: 1px solid #b3adad;
   background-color: whitesmoke;
   border-radius: 2px;
   cursor: pointer;
   box-shadow: 2px 6px 4px rgba(0,0,0, 0.3);
  
}

form .calc__button input:active{
   background-color: rgb(245, 245, 245, .1);
}

form .calc__buttons .dark__button input{
    background-color: #e0dddd;
    border: 0;
}

form .calc__buttons .dark__button input:active{
    background-color: rgb(224, 221, 221,.8);
}



form input.equal{
    background-color: rgb(67, 104, 239);
    color: white;
    border: 0;
}